<ion-header>
  <ion-toolbar>
    <ion-title>
      To-Do List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-label>Add Task</ion-label>
  <ion-input type="text" placeholder="Add a new task"[(ngModel)]="newTask"></ion-input>
  <ion-button (click)="addNewTask()">
    Add
  </ion-button>
  <ion-list>
    <ion-item *ngFor="let toDoEntry of toDoList">
        <button ion-button (click)="removeTask(toDoEntry)">
            <ion-icon name="trash"></ion-icon>Delete
          </button>
      <ion-item>{{ toDoEntry }}</ion-item>
    </ion-item>
  </ion-list>
</ion-content>
