<ion-header>
  <ion-toolbar>
    <ion-title>
      To-Do List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-label>Add Task</ion-label>
  <ion-input type="text" placeholder="Add a new task"[(ngModel)]="newTask"></ion-input>
  <ion-button (click)="addNewTask()">
    Add
  </ion-button>
  <ion-list>
    <ion-reorder-group (ionItemReorder)="reorderTask($event)" disabled="false">
    <ion-item *ngFor="let toDoEntry of toDoList">
      <ion-reorder></ion-reorder>
      <button ion-button (click)="removeTask(toDoEntry)">
        <ion-icon name="trash"></ion-icon> Delete
      </button>
      <ion-item>{{ toDoEntry }}</ion-item>
    </ion-item>
  </ion-reorder-group>
</ion-list>
</ion-content>
